@{
    ViewBag.Title = "Home Page";
}

<div>
    <span class="btn btn-block">@Html.ActionLink("Signup", "Signup", "Home")</span>
    <span class="btn btn-block">@Html.ActionLink("Login", "Login", "Home")</span>

</div>