
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
   <span class="btn btn-block">@Html.ActionLink("Add Employee", "AddEmployee", "Admin") </span>
   <span class="btn btn-block">@Html.ActionLink("Show Employee", "ShowEmployee", "Admin") </span>
    <span class="btn btn-block">@Html.ActionLink("Pending Request", "Pending", "Admin") </span>
    <span class="btn btn-block">@Html.ActionLink("Logout", "Logout", "Admin") </span>
</div>

